<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="image_top">
        <div class="image_content">
          <div class="image_message">
            <h3>サウナーのためのコミュニティサイト！</h3>
          </div>
          <div class= 'image_logo'>
          　<%= image_tag('sauna4.png', size: '600x150') %>
        　</div>
        </div>
      </div>
      <div class="site_explanation">
        <div class="overview">
          <h3><u>トトノイマシタとは・・・</u></h3>
          <p>　自分のサ活情報を記録し、サウナー同士が情報共有できるアプリケーションです！</p>
        </div>
        <div class="usage">
        <h3><u>トトノイマシタの使い方</u></h3>
            <p>　①行きつけのサウナを選択し、マイサウナに登録</p>
            <p>　②サ活をしたらマイサウナのコミュニティに投稿</p>
            <p>　③自分のサ活記録が蓄積されます</p>
          <b>さあ、トトノイマシタをためていこう！</b>
          <div class="site_explanation_image">
            <%= image_tag('sauna5.png', size: '150x150') %>
          </div>
        </div>
      </div>
      <div class="btn-wrapper col-8 mx-auto">
        <div class="row">
          <%= link_to 'ログイン',new_admin_session_path, class: "btn btn-info btn-block mt-3" %>
        </div>
      </div>
    </div>
  </div>
</div>