@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 150px;
z-index:100;
}

body {
  padding-top: 140px; 
}
  

.header_text {
  color: #333333;
}

.header_text:hover {
  color: #111111;
  background:linear-gradient(transparent 70%, #FF0000 0%);
}

p.footertopline{
  border-top-style: solid;
  border-width: 1px;
}

.footer_area{
  margin-bottom: 20px;
}

.footer_icon {
  margin-left: 10px;
}

.image_top {
 background-image: url(/assets/sauna1.jpeg);
 background-size: 100% 100%;
 width: 100%;
 height: 200px;
 z-index: 0;
 border-radius: 30px;
}

.image_content {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba( 255, 255, 230, 0.5); 
}

.image_message {
  font-size: 120px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 50px;
}

.image_logo {
  text-align: center;
}

.site_explanation {
  background-color: #0000FF;
  color: #ffffff;
  margin-top: 30px;
  height: 300px;
  border-radius: 30px;
  padding: 10px 20px;
  position: relative;
}

.usage > b {
  color: #ff0000;
  font-size: 30px;
}

.site_explanation_image {
  position: absolute;
  top: 120px;
  right: 5px;
}

.title > h3 {
  display: inline-block;
  background: linear-gradient(transparent 80%, #ff0000 50%);
}

.title {
  position: relative;
}

.bottun_new {
  position: absolute;
  right: 20px;
}

.search {
  display: flex;
  margin-top: 10px;
}

.search_bar {
  margin-right: 30px;
}

.card_body {
  padding: 5px;
  margin: 5px;
  border-radius: 15px;
  background-color: #faebd7;
  width: 270px;
}

.card_title {
  text-align: center;
  margin-bottom : 5px;
}

.card_text {
  display: flex;
  justify-content: center;
}

.card_sidebar {
  margin-left: 15px;
}

.edit_button {
  margin-bottom : 5px;
}

.join {
  text-align: center;
  margin-top: 10px;
}

.join > .join_button {
  margin-top: 10px;
}

.return_button {
  float: left;
}

.table_participant {
  margin-top: 10px;
}

.post_form {
  border: solid 3px #000000;
  padding-top: 10px;
}

.complement {
  font-size: 12px;
}