<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light p-2" style="background-color:#CCFFFF;" >
    <div class="container">
      <a class="navbar-brand" href="/admin">
        <div class= 'header_logo'>
          <%= image_tag('sauna2.png', size: '250x80') %>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li>
            <%= link_to admin_communities_path, class: 'nav-link heaedr-link' do %>
              <b class="header_text">コミュニティ一覧</b>
            <% end %>
          </li>
          <li>
            <%= link_to admin_customers_path, class: 'nav-link heaedr-link' do %>
              <b class="header_text">会員一覧</b>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link heaedr-link' do %>
              <b class="header_text">ログアウト</b>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>