<footer>
  <div class='container mt-5'>
    <p class="footertopline"></p>
  	<div class='row footer_area justify-content-center'>
    	  <p>公式SNS</p>
    	  <span class="footer_icon">
    	    <i class="fab fa-twitter-square"></i>
    	  </span>
    	  <span class="footer_icon">
    	    <i class="fab fa-instagram-square"></i>
    	  <span class="footer_icon">
    	  </span>
    	    <i class="fab fa-facebook-square"></i>
    	  </span>
    </div>
  </div>
</footer>
